

// Primary Color
$Orange: hsl(26, 100%, 55%);
$Pale-orange: hsl(25, 100%, 94%);

// Neutral
$Very-dark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%); //(with 75% opacity for lightbox background)


//font size
$paragraph-size: 1rem;
$h1-size: 2.1875rem; //35px
$h2-size: 1.5rem; //24px
$btn-font-size: 0.875rem; //14px 

// fint wieght
$font-weight-regular: 400;
$font-weight-bold: 700;
